/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные светлой темы */
  --main-font: "IBM Plex mono";
  --primary-color: #fff1f7;
  --secondary-color: #ff0070;
  --heading-color: #ffc2e6;
  --subheading-color: #353430;
  --content-heading-color: #353430;
  --content-subheading-color: #353430;
  --text-color: #353430;
  --text-color-hover: rgba(50, 49, 45, 0.4);
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* 
    Продублировала сюда цвета для  кейза когда выбран день 
    с (prefers-color-scheme: dark) по умолчанию в системе.
    В этом случае темные цвета заданные в :root из variables
    перебиваются этими стилями и светлая тема отображается корректно.
  */
  --main-font: "IBM Plex mono";
  --primary-color: #fff1f7;
  --secondary-color: #ff8dcb;
  --navigation-color: #353430;
  --decorated-element-color: #353430;
  --heading-color: #ffc2e6;
  --heading-shadow-color: #ff0070;
  --subheading-color: #353430;
  --content-heading-color: #353430;
  --content-subheading-color: #353430;
  --content-accent-text-color: #353430;
  --text-color: #353430;
  --text-color-hover: rgba(50, 49, 45, 0.4);
}

.page.theme_light .header {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .rec {
  background-image: none;
}

.page.theme_light .rec::before {
  content: "";
}

.page.theme_light .header__title,
.page.theme_light .footer__title {
  text-shadow: 4px 4px 0 #ff8dcb;
}

.page.theme_light .link {
  text-shadow: 2px 2px 0px var(--secondary-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-color-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--decorated-element-color);
}

@media (375px <= width < 1024px) {
  .page.theme_light .header__title,
  .page.theme_light .footer__title {
    text-shadow: 2px 2px 0 #ff8dcb;
  }
}

@media (1024px <= width) {
  .page.theme_light .header__title,
  .page.theme_light .footer__title {
    text-shadow: 2px 2px 0 #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  @media (375px <= width < 1024px) {
    .header__title,
    .footer__title {
      text-shadow: 4px 4px 0 #ff8dcb;
    }
  }

  @media (1024px <= width) {
    .header__title,
    .footer__title {
      text-shadow: 4px 4px 0 #ff0070;
    }
  }
  :root {
    /* Дублируем переменные светлой темы */
    --main-font: "IBM Plex mono";
    --primary-color: #fff1f7;
    --secondary-color: #ff8dcb;
    --navigation-color: #353430;
    --decorated-element-color: #353430;
    --heading-color: #ffc2e6;
    --heading-shadow-color: #ff0070;
    --subheading-color: #353430;
    --content-heading-color: #353430;
    --content-subheading-color: #353430;
    --content-accent-text-color: #353430;
    --text-color: #353430;
    --text-color-hover: rgba(50, 49, 45, 0.4);
  }

  .header {
    background-image: url(../images/cover-image-light.png);
  }

  .rec {
    background-image: none;
  }

  .rec::before {
    content: "";
  }

  .header__theme-menu-item {
    font-weight: 400;
  }

  .link {
    text-shadow: 2px 2px 0px var(--secondary-color);
  }

  .link:hover {
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
  }

  .link:focus {
    outline: 1px solid var(--text-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--text-color-hover);
  }

  .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--decorated-element-color);
  }
}
