/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* 
    Продублировала сюда цвета для  кейза когда выбран день 
    с (prefers-color-scheme: dark) по умолчанию в системе.
    В этом случае темные цвета заданные в :root из variables
    перебиваются этими стилями и светлая тема отображается корректно.
  */
  --primary-color: #fff1f7;
  --secondary-color: #ff8dcb;
  --navigation-color: #353430;
  --decorated-element-color: #353430;
  --heading-color: #ffc2e6;
  --heading-shadow-color: #ff0070;
  --subheading-color: #353430;
  --content-heading-color: #353430;
  --content-subheading-color: #353430;
  --content-accent-text-color: #353430;
  --text-color: #353430;
  --text-color-hover: rgba(50, 49, 45, 0.4);
  --background-image: url(../images/cover-image-light.png);
}

/*
  Это свойство оставлено, потому что без него с 
  включенной prefers-color-scheme: dark и выбранным пунктом меню "день" 
  отображается декоративный элемент, а он не должен отображаться в такой комбинации.
*/
.theme_light .decor_rec_item {
  display: none;
}

/* 
  Поместила .theme_dark тут потому что только так с 
  включенной  prefers-color-scheme: light и выбранным пунктом меню "неон"
  появляется декоративный элемент который необходимо отображать в темной теме.
*/
.theme_dark .decor_rec_item {
  display: inline;
}

@media (width < 1024px) {
  .page.theme_light {
    --heading-shadow-color: #ff8dcb;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    /* Удалила отовсюду в темах переменную с шрифтами чтобы не утяжелять */
    --primary-color: #fff1f7;
    --secondary-color: #ff8dcb;
    --navigation-color: #353430;
    --decorated-element-color: #353430;
    --heading-color: #ffc2e6;
    --heading-shadow-color: #ff0070;
    --subheading-color: #353430;
    --content-heading-color: #353430;
    --content-subheading-color: #353430;
    --content-accent-text-color: #353430;
    --text-color: #353430;
    --text-color-hover: rgba(50, 49, 45, 0.4);
    --background-image: url(../images/cover-image-light.png);
  }

  /*
    Оставила этот дубликат, т.к. без него с 
    включенной  prefers-color-scheme: light и выбранным пунктом меню "авто"
    отображается декоративный элемент, а он не должен отображаться в такой комбинации.
  */
  .decor_rec_item {
    display: none;
  }

  @media (width < 1024px) {
    :root {
      --heading-shadow-color: #ff8dcb;
    }
  }
}
