.page {
  font-family: var(--main-font, sans-serif);
  background: var(--background-image) center bottom / cover no-repeat;
  background-color: var(--primary-color);
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 1fr min-content 1fr 0;
  padding: 10px;
  block-size: 100vh;
}

.header__title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--heading-shadow-color);
}

.header__title,
.footer__title {
  text-shadow: 4px 4px 0 var(--heading-shadow-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-item {
  color: var(--navigation-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 13px;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-element-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--navigation-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  justify-self: end;
  align-self: start;
  border-top: 1px solid var(--decorated-element-color);
  border-right: 1px solid var(--decorated-element-color);
}

.decorated-zone::after {
  justify-self: start;
  align-self: end;
  border-bottom: 1px solid var(--decorated-element-color);
  border-left: 1px solid var(--decorated-element-color);
}

.title-decor {
  color: var(--subheading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--secondary-color);
}

.content,
.content__section-images,
.content_images {
  display: grid;
}

.header__content {
  justify-self: end;
  align-self: center;
  max-inline-size: clamp(22.1875rem, 22.1875rem, 22.1875rem);
}

.content__question {
  color: var(--content-heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content__paragraph {
  padding-top: 10px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px; /* 130% */
}

.content {
  gap: 50px;
  margin-block: 40px;
}

.content-section {
  padding: 0 10px;
}

.content__section-odd,
.content__section-even {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 10px;
}

.content__accent {
  margin-block-start: 20px;
  color: var(--content-accent-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--secondary-color);
}

.link {
  text-shadow: 2px 2px 0px var(--secondary-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.content__section-images {
  gap: 10px;
  padding: 0 10px;
}

.content_images {
  gap: 10px;
}

.cocontent__picture {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 23.95fr 1fr;
  padding: 10px;
  background-image: none;
  block-size: 100vh;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--secondary-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 0 1fr min-content 1fr 0;
    justify-self: end;
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .heading {
    margin-inline-start: -20px;
  }

  .header__content {
    justify-self: end;
    align-self: center;
    max-inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  }

  .content {
    gap: 80px;
    margin-block: 60px;
  }

  .content__section-odd {
    display: inline-grid;
    grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 1fr;
    gap: 20px;
    padding: 0 20px;
  }

  .content__section-odd-why .content__question {
    grid-row: 1/3;
  }

  .content__section-concentration .content__question {
    grid-row: 1/2;
  }

  .content__section-even {
    grid-template-columns:
      clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem)
      1fr;
    padding: 0 20px;
  }

  .content__section-even .content__article {
    grid-column: 1 / 3;
  }

  .content__section-images {
    gap: 20px;
    padding: 0 20px;
  }

  .content_images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-height: clamp(48.75rem, -1.5rem + 104.6875vw, 65.5rem);
  }

  .cocontent__picture-sunset {
    grid-column: 1 / 3;
  }

  .cocontent__picture-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1/3;
  }

  .cocontent__picture-tape {
    grid-row: 2 / 4;
  }

  .cocontent__picture-books {
    grid-column: 2;
    grid-row: 2;
  }

  .cocontent__picture-street {
    grid-column: 2 / 4;
    grid-row: 3 / 3;
  }

  .footer {
    padding: 20px;
    margin-inline-start: 0;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 0.1fr 1fr min-content 0.42fr 0.58fr 0.1fr;
  }

  .header.decorated-zone::before {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .header.decorated-zone::after {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .header__title {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    gap: 10px;
  }

  .header__content {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    align-self: start;
    max-inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  }

  .content__section-even {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__section-even .content__article {
    grid-column: unset;
  }

  .content__section-even .content__question {
    grid-column: 1 / 4;
    width: calc(100% / 3);
  }

  .content_images {
    max-height: clamp(65.5rem, -19.4231rem + 132.6923vw, 100rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
